name: tcc_procurapet
description: "A new Flutter project."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.8.1


dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8
  firebase_core: ^2.24.2
  cloud_firestore: ^4.13.5
  image_picker: ^1.0.4
  geolocator: ^11.0.0
  firebase_storage: ^11.7.2 # <-- Use uma versão mais recente, como esta.
  google_mlkit_image_labeling: ^0.11.0 
  page: ^1.3.0
  dropdown_search: ^5.0.6
  http: ^1.2.1 # Use a versão mais recente


dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  